/Client/Library
/Client/Temp
/Client/Obj
/Client/Build
/Client/Builds
/Client/Logs

!/Client/Assets/**/*.meta

*.csproj
*.sln

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties

*.code-workspace
/Server/target
