/PaperDeck/Library
/PaperDeck/Temp
/PaperDeck/Obj
/PaperDeck/Build
/PaperDeck/Builds
/PaperDeck/Logs

!/PaperDeck/Assets/**/*.meta

*.csproj
*.sln

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.unitypackage

crashlytics-build.properties

/Server/target
